
      <div class="row featurette">
        <div class="col-md-3">
          <!--<h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>-->
          <h2 class="featurette-heading">Pickers, Selectors and <span class="text-muted">Cards</span></h2>
          <p class="lead">Original and creative pickers, selectors and cards very useful to create Javascript single page applications. </p>
        </div>
         <div class="col-md-9">
          <ul rn-carousel class="image" rn-carousel-indicator="true" rn-carousel-control>
            <li><img src="imgs/home/overview/imags-home-1.jpg" width="100%"></li>
            <li><img src="imgs/home/overview/imags-home-2.jpg" width="100%"></li>
            <li><img src="imgs/home/overview/imags-home-1.jpg" width="100%"></li>

          </ul>
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-3">
          <!--<h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>-->
          <h2 class="featurette-heading">Dynamic smooth <span class="text-muted">Charts</span></h2>
          <p class="lead">Awesome smooth dynamic charts to display your data in beatiful ways. Most of the charts are the perfect way to display realtime data.</p>
        </div>
        <div class="col-md-9">
          <ul rn-carousel class="image" rn-carousel-indicator="true" rn-carousel-control>

            <li><img src="imgs/home/overview/home-img-charts1.jpg" width="100%"></li>
            <li><img src="imgs/home/overview/home-img-charts2.jpg" width="100%"></li>
            <li><img src="imgs/home/overview/home-img-charts1.jpg" width="100%"></li>
          </ul>
        </div>
      </div>



      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Viewers</span></h2>
          <p class="lead">Other ways to display your products: 360° image viewers, paranoma, Google Map routes and more...</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="imgs/home/overview/demo_map.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="imgs/home/overview/demo_chartcombo.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Media<span class="text-muted">Components</span></h2>
          <p class="lead">To complete the offer we’re introducing several media components like YouTube and Vimeo players, mp3 and audio players, Spotify support and many others</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> UI/UX Utilities</h2>
          <p class="lead">A set to of utilities to enable new interesting features to your HTML elements like dragging, rotations and many others.
</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="imgs/home/overview/demo_scrolltext.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


        <!-- Three columns of text below the carousel -->
      <div class="row">
      	<h1 class="featurette-heading" style="text-align:center">Angular Cards</h1>
      	<p>A fresh approach to the user's choices: do you need a color picker? Draw a card! Do you need to set a date? Draw a card!<br>
Angular Cards comes with a whole set of selectors, pickers and utilities to make building your HTML5 desktop, mobile and hybrid applications a breeze!</p>
      	<hr>
        <div class="col-lg-4">
          <img class="featurette-image img-responsive" src="imgs/home/overview/demo_chartcombo.jpg" alt="Generic placeholder image">
          <h2>For mobile and desktop web applications</h2>
          <p>Augment your web and mobile HTML5 Single Page Applications with powerful yet easy to use controls. Angular Cards do the hard job giving you time to focus on your contents!
Try it, it's easy as draw a card!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="featurette-image img-responsive" src="imgs/home/overview/demo_chartcombo.jpg" alt="Generic placeholder image">
          <h2>Flexible and <br> customizable</h2>
          <p>All directives supports natively Angular Cards! Use given Angular Cards Adapters or modify them to satisfy your needs. 
</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="featurette-image img-responsive" src="imgs/home/overview/demo_chartcombo.jpg" alt="Generic placeholder image">
          <h2>Easy to use</h2>
          <p>Create complex UI and CRUD web applications on mobile has never been easier... just draw a Card!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

<hr class="featurette-divider">

<div class="text-center">
  <a href="#/home" class="btn btn-primary btn-lg active big-button">Back to overview</a> 
</div>
