


<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img  src="imgs/home/features/home-phonegap.jpg" class="home-features-img">
    <h2>AngularJS, Ionic and Phonegap</h2>
    <p>Compatible with AngularJS, Phonegap, Ionic and OnsenUI frameworks.</p>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4" >
    <img  src="imgs/home/features/home-card.jpg" class="home-features-img" >
    <h2>AngularJS Directives for UI/UX</h2>
    <p>An ever growing collection of directives, sub-projects and front-end utilities to enhance your AngularJS / HTML5 Single Page Applications. </p>
  </div><!-- /.col-lg-4 -->
 
  <div class="col-lg-4">
    <img  src="imgs/home/features/home-ux.jpg" class="home-features-img">
    <h2>Focused<br>on UX</h2>
    <p>Completely focused on user experience in order to create the best companion to develop cool front-end web applications in AngularJS</p>
    <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


 <div class="row">
  <div class="col-lg-4" >
    <img  src="imgs/home/features/home-mix.jpg" class="home-features-img" >
    <h2>Mix of front-end technologies</h2>
    <p>A unique product that mixes some of the most interesting current technologies: AngularJS, Phonegap, D3, NodeJS and CreateJS. It also supports frameworks like AngularUI, Angular Boostrap Ionic and OnsenUI.</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img  src="imgs/home/features/home-iot.jpg" class="home-features-img">
    <h2>Arduino and Internet of Things</h2>
    <p>Many of the components has been developed to simplify the creation of home automation   and Arduino applications and can be used to set the dimmer of a light, rotate motors, display realtime data and so on.</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img  src="imgs/home/features/home-github.jpg" class="home-features-img">
    <h2>Open Source<br>on GitHub</h2>
    <p>AngularUX and its sub-projects are completely open source and available on GitHub. We’re looking for patners and new contributors to help us in this adventure.</p>
    <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->



<!-- START THE FEATURETTES -->

<hr class="featurette-divider">
<h2 class="text-center">AngularUX Kitchen Sink preview in Ionic</h2>

<iframe width="100%" class="video-yt" src="//www.youtube.com/embed/YSJhjWdoO6E" frameborder="0" allowfullscreen></iframe>

<hr class="featurette-divider">

<div class="text-center">
  <a href="#/components" class="btn btn-primary btn-lg active big-button">Components Preview</a> 
</div>


